# compiled files
*.o
assginment2/PrefixSum/bin
assginment2/PrefixSum/CMakeFiles
assginment2/PrefixSum/CMakeCache.txt
assginment2/PrefixSum/cmake_install.cmake
assginment2/PrefixSum/build
assginment2/PrefixSum/obj
assginment2/PrefixSum/PrefixSum
assginment2/PrefixSum/arrayA.txt
assginment2/PrefixSum/arrayB.txt
assginment2/PrefixSum/arrayC.txt
assginment3/game-of-life/openmp/main
assginment3/game-of-life/serial/main
assginment3/game-of-life/mpi/main
